$color-title-white: #ffffff;
$color-title-black: #545454;
$color-description-white: #CDCDCD;
$color-description-black: #4C4C4C;
$color-btn-default: #F1CDB3;
$color-btn-hover: #FDDCC4;
$color-btn-text: #292929;

* {
    margin: 0;
    cursor: default;
}

button {
    border: none;
    outline: none;
    border-radius: 2vw;
    &:hover {
        cursor: pointer;
        background: $color-btn-hover;
        border: none;
    }
    @media(max-width: 768px) {
        border-radius: 4vw;
    }
}

a {
    text-decoration: none;
    cursor: pointer;
}

.header {
    width: 100%;
    height: 9.4vw;
    position: fixed;
    background: $color-title-white;
    @media(max-width: 768px) {
        height: 15.6vw;
    }
}

.container {
    margin: 0 auto;
    width: 93.75vw;
    display: flex;
    @media(max-width: 768px) {
        width: 91.9vw;
    }
}

.header__container {
    position: fixed;
    top: 2.6vw;
    left: 3.1vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $color-title-white;
    @media(max-width: 768px) {
        top: 4.6vw;
        left: 4vw;
    }
}

.header__logo-title {
    font-family: Georgia;
    font-size: 2.55vw;
    font-weight: normal;
    line-height: 2.3vw;
    letter-spacing: 0.12vw;
    color: $color-title-black;
    cursor: pointer;
    @media(max-width: 768px) {
        font-size: 4.35vw;
        line-height: 3.3vw;
        letter-spacing: 0.13vw;
    }
}

.header__logo-description {
    margin-top: 0.94vw;
    padding-left: 0.26vw;
    font-family: Arial;
    font-size: 1.074vw;
    letter-spacing: 0.08vw;
    color: $color-btn-text;
    @media(max-width: 768px) {
        margin-top: 1.8vw;
        padding-left: 0.32vw;
        font-size: 1.91vw;
    }
}

.header__nav {
    width: 37.7vw;
    height: 2vw;
    @media(max-width: 768px) {
        width: 62.7vw;
        height: 3.7vw;
    }
}

.header__menu {
    display: flex;
    justify-content: space-between;
    font-family: Arial;
    font-size: 1.17vw;
    @media(max-width: 768px) {
        font-size: 1.95vw;
    }
}

.header__menu-item {
    display: block;
    padding-bottom: 0.2vw;
    &:hover {
        cursor: pointer;
        border-bottom: 0.2vw solid $color-btn-default;
        @media(max-width: 768px) {
            border-bottom: 0.6vw solid $color-btn-default;
        }
    }
    a {
        color: $color-title-black;
    }
}

.header__menu-item_active {
    a {
        color: $color-btn-text;
    }
    border-bottom: 0.2vw solid $color-btn-default;
    @media(max-width: 768px) {
        border-bottom: 0.6vw solid $color-btn-default;
    }
}

.title {
    font-family: Georgia;
    font-size: 2.8vw;
    line-height: 3.5vw;
    letter-spacing: 0.136vw;
    color: $color-title-black;
    @media(max-width: 768px) {
        font-size: 4.75vw;
        line-height: 5.9vw;
        letter-spacing: 0.185vw;
    }
}

.main {
    padding-top: 9.4vw;
    @media(max-width: 768px) {
        padding-top: 15.6vw;
    }
}

.our-friends {
    display: flex;
    align-items: center;
    background: #F6F6F6;
}

.our-friends__container {
    height: 104.8vw;
    align-items: center;
    flex-direction: column;
    @media(max-width: 768px) {
        height: 225.6vw;
        width: 75.7vw;
    }
}

.our-friends__title {
    margin: 6.3vw 0 0 0.2vw;
    width: 32.05vw;
    text-align: center;
    @media(max-width: 768px) {
        margin: 10.4vw 0 0 0.1vw;
        width: 53.05vw;
    }
}

.slider {
    width: inherit;
    margin: 4.7vw 0 2.3vw 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    @media(max-width: 768px) {
        margin: 4.1vw 0 1.3vw 0;
    }
}

.btn {
    font-family: Georgia;
    font-size: 1.3vw;
    letter-spacing: 0.09vw;
    @media(max-width: 768px) {
        font-size: 2.3vw;
    }
}

.slider__image-box {
    margin-bottom: 2.4vw;
    width: 21vw;
    height: 33.9vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: #FAFAFA;
    border-radius: 0.7vw;
    &:hover {
        background: #FFFFFF;
    }
    @media(max-width: 768px) {
        margin-bottom: 3.8vw;
        width: 35.4vw;
        height: 56.7vw;
        &:nth-child(7) {
            display: none;
        }
        &:nth-child(8) {
            display: none;
        }
    }
}

.slider__image {
    height: 21vw;
    @media(max-width: 768px) {
        height: 35vw;
    }
}

.slider__image-title {
    margin: 2.29vw 0 2.4vw 0.1vw;
    font-family: Georgia;
    font-size: 1.6vw;
    letter-spacing: 0.08vw;
    color: $color-title-black;
    @media(max-width: 768px) {
        margin: 2.29vw 0.3vw 2.4vw 0.5vw;
        font-size: 2.6vw;
        letter-spacing: 0.16vw;
    }
}

.slider__image-btn {
    margin-bottom: 2.3vw;
    width: 14.6vw;
    height: 4vw;
    background: none;
    border: 0.15vw solid $color-btn-default;
    @media(max-width: 768px) {
        margin-bottom: 4.1vw;
        width: 24vw;
        height: 6.6vw;
        border: 0.3vw solid $color-btn-default;
    }
}

.our-friends__btn {
    width: 16.9vw;
    height: 3.35vw;
    background: $color-btn-default;
}

.our-friends__slider-btn-box {
    width: 26.5vw;
    display: flex;
    justify-content: space-between;
    @media(max-width: 768px) {
        width: 44.2vw;
    }
}

.our-friends__slider-btn {
    width: 4vw;
    height: 4vw;
    background: none;
    border: 0.15vw solid $color-btn-default;
    @media(max-width: 768px) {
        width: 6.6vw;
        height: 6.6vw;
        border: 0.3vw solid $color-btn-default;
    }
}

.our-friends__slider-btn-disabled {
    border: 0.15vw solid $color-description-white;
    &:hover {
        cursor: default;
        background: none;
        border: 0.15vw solid $color-description-white;
    }
}

.our-friends__slider-number {
    width: 4vw;
    height: 4vw;
    background: $color-btn-default;
    &:hover {
        cursor: default;
        background: $color-btn-default;
    }
    @media(max-width: 768px) {
        width: 6.6vw;
        height: 6.6vw;
    }
}

.footer {
    background: url('/shelter/assets/images/start-screen-gradient-background.png');
    background-size: cover;
}

.footer__container {
    display: flex;
    padding-top: 3vw;
    justify-content: space-between;
    @media(max-width: 768px) {
        width: 83.2vw;
        padding-top: 2.6vw;
        flex-wrap: wrap;
    }
}

.telephone {
    width: 22vw;
    @media(max-width: 768px) {
        width: 37vw;
    }
}

.position {
    width: 23.8vw;
}

.footer__contact {
    height: 18.25vw;
    margin-top: 1.4vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @media(max-width: 768px) {
        width: 39.3vw;
        height: 30.3vw;
    }
}

.footer__contact-box {
    display: flex;
    align-items: center;
}

.footer__contact-title {
    color: $color-title-white;
}

.footer__contact-icon {
    height: 2.5vw;
    cursor: pointer;
    @media(max-width: 768px) {
        height: 4.11vw;
    }
}

.footer__contact-text {
    margin-left: 1.5vw;
    font-family: Georgia;
    font-size: 1.6vw;
    line-height: 1.85vw;
    letter-spacing: 0.077vw;
    color: $color-btn-default;
    cursor: pointer;
    @media(max-width: 768px) {
        margin-left: 2.5vw;
        font-size: 2.6vw;
        letter-spacing: 0.16vw;
        line-height: 2.85vw;
    }
}

.footer__img-box {
    height: 24.6vw;
    @media(max-width: 768px) {
        height: 41.6vw;
        margin-top: 8vw;
        width: inherit;
        text-align: center;
    }
}

.footer__img {
    height: 24.6vw;
    @media(max-width: 768px) {
        height: 41.6vw;
    }
}
