$color-title-white: #ffffff;
$color-title-black: #545454;
$color-description-white: #CDCDCD;
$color-description-black: #4C4C4C;
$color-btn-default: #F1CDB3;
$color-btn-hover: #FDDCC4;
$color-btn-text: #292929;

* {
    margin: 0;
    cursor: default;
}

button {
    border: none;
    outline: none;
    border-radius: 2vw;
    &:hover {
        cursor: pointer;
        background: $color-btn-hover;
        border: none;
    }
}

a {
    text-decoration: none;
    cursor: pointer;
}

.header {
    width: 100%;
    height: 7.813vw;
    position: fixed;
    background: $color-title-white;
}

.container {
    margin: 0 auto;
    width: 78.1vw;
    display: flex;
}

.header__container {
    position: fixed;
    top: 1.95vw;
    left: 10.4vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $color-title-white;
}

.header__logo-title {
    font-family: Georgia;
    font-size: 2.089vw;
    font-weight: normal;
    line-height: 2.3vw;
    letter-spacing: 0.12vw;
    color: $color-title-black;
    cursor: pointer;
}

.header__logo-description {
    margin-top: 0.68vw;
    padding-left: 0.22vw;
    font-family: Arial;
    font-size: 0.86vw;
    letter-spacing: 0.08vw;
    color: $color-btn-text;
}

.header__nav {
    width: 31.4vw;
    height: 1.5vw;
}

.header__menu {
    display: flex;
    justify-content: space-between;
    font-family: Arial;
    font-size: 0.98vw;
}

.header__menu-item {
    display: block;
    padding-bottom: 0.2vw;
    &:hover {
        cursor: pointer;
        border-bottom: 0.2vw solid $color-btn-default;
    }
    a {
        color: $color-title-black;
    }
}

.header__menu-item_active {
    a {
        color: $color-btn-text;
    }
    border-bottom: 0.2vw solid $color-btn-default;
}

.title {
    font-family: Georgia;
    font-size: 2.28vw;
    line-height: 2.95vw;
    letter-spacing: 0.136vw;
    color: $color-title-black;
}

.main {
    padding-top: 7.9vw;
}

.our-friends {
    display: flex;
    align-items: center;
    background: #F6F6F6;
}

.our-friends__container {
    height: 87.25vw;
    align-items: center;
    flex-direction: column;
}

.our-friends__title {
    margin: 5.15vw 0 0 0.2vw;
    width: 26.05vw;
    text-align: center;
}

.slider {
    width: inherit;
    margin: 3.9vw 0 1.9vw 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.btn {
    font-family: Georgia;
    font-size: 1.1vw;
    letter-spacing: 0.07vw;
}

.slider__image-box {
    margin-bottom: 1.9vw;
    width: 17.6vw;
    height: 28.4vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: #FAFAFA;
    border-radius: 0.7vw;
    &:hover {
        background: #FFFFFF;
    }
}

.slider__image {
    height: 17.62vw;
}

.slider__image-title {
    margin: 0 0 0.1vw 0.1vw;
    font-family: Georgia;
    font-size: 1.3vw;
    letter-spacing: 0.08vw;
    color: $color-title-black;
}

.slider__image-btn {
    margin-bottom: 2.05vw;
    width: 12.15vw;
    height: 3.35vw;
    background: none;
    border: 0.15vw solid $color-btn-default;
}

.our-friends__btn {
    width: 16.9vw;
    height: 3.35vw;
    background: $color-btn-default;
}

.our-friends__slider-btn-box {
    width: 340px;
    display: flex;
    justify-content: space-between;
}

.our-friends__slider-btn {
    width: 3.35vw;
    height: 3.35vw;
    background: none;
    border: 0.15vw solid $color-btn-default;
}

.our-friends__slider-btn-disabled {
    border: 0.15vw solid $color-description-white;
    &:hover {
        cursor: default;
        background: none;
        border: 0.15vw solid $color-description-white;
    }
}

.our-friends__slider-number {
    width: 3.35vw;
    height: 3.35vw;
    background: $color-btn-default;
    &:hover {
        cursor: default;
        background: $color-btn-default;
    }
}

.footer {
    background: url('/shelter/assets/images/start-screen-gradient-background.png');
    background-size: cover;
}

.footer__container {
    display: flex;
    padding-top: 2.38vw;
    justify-content: space-between;
}

.telephone {
    width: 18.25vw;
}

.position {
    width: 19.66vw;
}

.footer__contact {
    height: 15.13vw;
    margin-top: 1.33vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer__contact-box {
    display: flex;
    align-items: center;
}

.footer__contact-title {
    color: $color-title-white;
}

.footer__contact-icon {
    height: 2.084vw;
    cursor: pointer;
}

.footer__contact-text {
    margin-left: 1.3vw;
    font-family: Georgia;
    font-size: 1.3vw;
    line-height: 1.5vw;
    letter-spacing: 0.077vw;
    color: $color-btn-default;
    cursor: pointer;
}

.footer__img-box {
    height: 20.5vw;
}

.footer__img {
    height: 20.5vw;
}
