* {
    margin: 0;
}

.body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-size: cover;
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;
    color: #ffffff;
    transition: background-image 1s ease-in-out;
    cursor: default;
}

.switch-bg {
    height: 3vw;
    width: 3vw;
    position: absolute;
    top: 1vw;
    left: 1vw;
    background: url('/src/assets/images/cameraswitch.png');
    border: none;
    border-radius: 50%;
    background-size: 2.3vw;
    background-repeat: no-repeat;
    background-color: rgba(255, 255, 255, 0.5);
    background-position: center;
    cursor: pointer;
    outline: none;
    &:hover {
        transform: scale(1.2, 1.2);
    }
}

[contenteditable] {
    cursor: text;
}

.time__text {
    font-size: 8vw;
}

.time__date {
    font-size: 3vw;
}

.greeting {
    font-size: 2vw;
}

.greeting__input {
    display: inline-block;
}

.focus {
    opacity: 0.8;
    font-size: 1.5vw;
}

@font-face {
    font-family: "Quicksand";
    src: url(/src/assets/fonts/Quicksand.ttf);
}