$color-title-white: #ffffff;
$color-title-black: #545454;
$color-description-white: #CDCDCD;
$color-description-black: #4C4C4C;
$color-btn-default: #F1CDB3;
$color-btn-hover: #FDDCC4;
$color-btn-text: #292929;

* {
    margin: 0;
    cursor: default;
}

button {
    border: none;
    outline: none;
    border-radius: 2vw;
    &:hover {
        cursor: pointer;
        background: $color-btn-hover;
        border: none;
    }
}

.container {
    margin: 0 auto;
    width: 78.1vw;
    display: flex;
}

.header__container {
    position: absolute;
    top: 3.9vw;
    left: 10.4vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $color-title-white;
}

.header__logo-title {
    font-family: Georgia;
    font-size: 2.089vw;
    font-weight: normal;
    line-height: 2.3vw;
    letter-spacing: 0.12vw;
    color: $color-btn-default;
}

.header__logo-description {
    margin-top: 0.7vw;
    padding-left: 0.2vw;
    font-family: Arial;
    font-size: 0.86vw;
    letter-spacing: 0.08vw;
}

.header__nav {
    width: 31.4vw;
    height: 1.5vw;
}

.header__menu {
    display: flex;
    justify-content: space-between;
    font-family: Arial;
    font-size: 0.98vw;
    color: $color-description-white;
}

.header__menu-item {
    display: block;
    padding-bottom: 0.2vw;
    &:hover {
        cursor: pointer;
        border-bottom: 0.2vw solid $color-btn-default;
    }
}

.header__menu-item_active {
    color: #FAFAFA;
    border-bottom: 0.2vw solid $color-btn-default;
}

.not-only {
    padding-top: 11.7vw;
    background: url('/shelter/assets/images/start-screen-gradient-background.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.not-only__container {
    justify-content: space-between;
    align-items: center;
}

.not-only__text {
    margin-bottom: 5.86vw;
    height: 24.2vw;
    width: 30vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.not-only__text-title {
    margin-top: 0.66vw;
    width: 20.2vw;
    line-height: 1.3;
    font-family: Georgia;
    font-size: 2.86vw;
    color: $color-title-white;
}

.description {
    line-height: 1.6;
    font-family: Arial;
    font-size: 0.98vw;
}

.not-only__text-description {
    color: $color-description-white;
}

.btn {
    font-family: Georgia;
    font-size: 1.1vw;
    letter-spacing: 0.07vw;
}

.not-only__btn {
    display: flex;
    padding: 1.09vw 0 0 2.94vw;
    width: 13.5vw;
    height: 3.35vw;
    background: $color-btn-default;
    color: $color-btn-text;
}

.not-only__image-box {
    height: 47.4vw;
}

.about__container {
    height: 38.3vw;
    justify-content: center;
    align-items: center;
}

.about__image-box {
    margin: 0 7.89vw 1vw 0;
}

.about__image {
    height: 26.56vw;
}

.about__text-box {
    margin-bottom: 1.2vw;
    width: 27.99vw;
    height: 24.7vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.title {
    font-family: Georgia;
    font-size: 2.28vw;
    line-height: 2.95vw;
    letter-spacing: 0.136vw;
    color: $color-title-black;
}

.about__text-title {
    width: 24vw;
}

.about__text-description {
    color: $color-description-black;
    letter-spacing: -0.001vw;
}

.our-friends {
    height: 57.1vw;
    display: flex;
    align-items: center;
    background: #F6F6F6;
}

.our-friends__container {
    margin-bottom: 1.3vw;
    height: 45.4vw;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}

.our-friends__title {
    margin: 0.05vw 0 0 0.2vw;
    width: 26.05vw;
    text-align: center;
}

.slider {
    width: inherit;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.slider__arrow-btn {
    width: 3.35vw;
    height: 3.35vw;
    background: none;
    border: 0.15vw solid $color-btn-default;
}

.slider__arrow-img {
    width: 0.89vw;
    padding-bottom: 0.2vw;
}

.slider__image-box {
    margin: 0 2.4vw;
    width: 17.6vw;
    height: 28.4vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background: #FAFAFA;
    border-radius: 0.7vw;
    &:hover {
        background: #FFFFFF;
    }
}

.slider__image {
    height: 15.66vw;
}

.slider__image-title {
    margin: 0 0 0.1vw 0.1vw;
    font-family: Georgia;
    font-size: 1.3vw;
    letter-spacing: 0.08vw;
    color: $color-title-black;
}

.slider__image-btn {
    margin-bottom: 0.1vw;
    width: 12.15vw;
    height: 3.35vw;
    background: none;
    border: 0.15vw solid $color-btn-default;
}

.our-friends__btn {
    width: 16.9vw;
    height: 3.35vw;
    background: $color-btn-default;
}

.help {
    height: 39.82vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.help__container {
    height: 29.25vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.help__title {
    width: 21vw;
    text-align: center;
}

.help__items {
    width: 66.89vw;
    height: 19.6vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.help__items-box-1 {
    display: flex;
    justify-content: space-between;
}

.help__items-box-2 {
    margin: 0 0 1.3vw 5.5vw;
    width: 56vw;
    display: flex;
    justify-content: space-between;
}

.help__item-box {
    height: 7.3vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}

.help__item-img {
    height: 3.9vw;
}

.help__item-description {
    font-family: Georgia;
    font-size: 1.3vw;
    letter-spacing: 0.08vw;
    color: $color-title-black;
}

.in-addition {
    height: 30.19vw;
    display: flex;
    align-items: center;
    background: #F6F6F6
}

.in-addition__container {
    height: 19.7vw;
    display: flex;
    justify-content: center;
}

.in-addition__img {
    margin: 0.7vw 1.8vw 0 0;
    height: 17.09vw;
}

.in-addition__text-box {
    width: 24.83vw;
    height: 18.28vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.in-addition__text-title {
    width: 20vw;
}

.in-addition__text-name {
    font-family: Georgia;
    font-size: 0.978vw;
    line-height: 1.1vw;
    letter-spacing: 0.059vw;
    color: $color-title-black;
}

.in-addition__text-btn {
    padding-left: 0.5vw;
    width: 22.7vw;
    height: 2.8vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: $color-btn-default;
    border-radius: 0.5vw;
    font-size: 1.3vw;
    letter-spacing: 0.08vw;
    color: $color-title-black;
    img {
        height: 1.47vw;
        cursor: pointer;
    }
    span {
        margin-bottom: 0.1vw;
        cursor: pointer;
    }
}

.in-addition__text-description {
    font-family: Arial;
    font-size: 0.783vw;
    line-height: 1.19vw;
    color: #B2B2B2;
}