* {
    margin: 0;
    padding: 0;
    font-size: 100%;
    font-family: cursive;
    cursor: default;
}

button {
    border: 2px solid #e74c3c;
    border-radius: 8px;
    text-align: center;
    background: rgba(231, 76, 60, 0);
    transition: 0.3s all ease;
    outline: none;
    cursor: pointer;
    &:hover {
        background-color: rgba(231, 76, 60, 1);
        color: #ffffff;
    }
    &:disabled {
        background: gray;
    }
}

button.visible {
    display: block;
}

.header {
    min-height: 75px;
    max-width: 420px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-bottom: 10px;
}

.screen__title {
    font-size: 30px;
}

.pause {
    width: 112px;
    display: none;
}

.game-board {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 23px;
    max-width: 472px;
    max-height: 472px;
    width: 100%;
    height: 100vh;
    position: relative;
    display: grid;
    grid-auto-rows: 1fr;
    grid-gap: 2px;
    border-radius: 10px;
}

.chip {
    border: 1px solid #444;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    background: rgb(228, 228, 228);
    user-select: none;
    border-radius: 5px;
    &:hover {
        cursor: pointer;
        background-color: #7de85b;
    }
}

.image {
    background-size: 420px;
    &:hover {
        opacity: 0.5;
    }
}

.overlay {
    display: none;
    color: #87ff8e;
    position: absolute;
    z-index: 99;
    background: rgba(0, 0, 0, 0.8);
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    transition: all .1s ease-in;
    -webkit-transition: all 0.1s ease-in;
    border-radius: 10px;
    &.visible {
        display: flex;
    }
}

.screen__container {
    width: 80%;
    margin: 8% auto;
    position: relative;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color: lawngreen;
}

.hidden {
    display: none;
}

.active {
    display: flex;
}

.results {
    width: 100%;
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.nav__btn {
    padding-bottom: 5px;
    width: 150px;
    margin: 10px;
    font-size: 20px;
    font-weight: bold;
    text-shadow: 2px 2px 5px #000000;
    color: #ffffff;
    cursor: pointer;
}

.save-btn {
    height: 40px;
    width: 40px;
    position: absolute;
    top: -26px;
    left: -33px;
    background: url('../assets/icons/save_icon.svg');
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: center;
}

[data-screen-name="win"] {
    justify-content: flex-end;
    animation: winOpacity 1s;
    h2 {
        font-size: 35px;
        position: absolute;
        top: 35%;
        text-shadow: 2px 2px 5px #000000;
        color: #ffd700;
    }
}

.screen__img {
    display: none;
    height: 100%;
    width: 100%;
    &:hover {
        opacity: 1;
    }
}

.slider {
    width: 100%;
    display: none;
    align-items: center;
    justify-content: space-between;
}

.slider__game {
    width: 250px;
    display: flex;
    justify-content: space-between;
}

.slider__arrow {
    padding-bottom: 5px;
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 28px;
    color: #ffffff;
    font-size: 35px;
}

.slider__description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.slider__description-load {
    color: #ffffff;
}

.slider__image {
    height: 120px;
    width: 120px;
}

@keyframes clickOnChip {
    0% {
        transform: scale(1, 1);
    }
    25% {
        transform: scale(0.75, 0.75);
    }
    50% {
        transform: scale(0.5, 0.5);
    }
    75% {
        transform: scale(0.25, 0.25);
    }
    100% {
        transform: scale(0, 0);
    }
}

@keyframes winOpacity {
    0% {
        opacity: 0;
    }
    15% {
        opacity: 0.15;
    }
    25% {
        opacity: 0.25;
    }
    40% {
        opacity: 0.4;
    }
    50% {
        opacity: 0.5;
    }
    65% {
        opacity: 0.65;
    }
    75% {
        opacity: 0.75;
    }
    90% {
        opacity: 0.9;
    }
    100% {
        opacity: 1;
    }
}