* {
    margin: 0;
    padding: 0;
    font-size: 100%;
    font-family: cursive;
    cursor: default;
}

button {
    border: 2px solid #e74c3c;
    border-radius: 8px;
    text-align: center;
    background: rgba(231, 76, 60, 0);
    transition: 0.3s all ease;
    outline: none;
    cursor: pointer;
    &:hover {
        background-color: rgba(231, 76, 60, 1);
        color: #ffffff;
    }
}

button.visible {
    display: block;
}

.header {
    min-height: 75px;
    max-width: 420px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-bottom: 10px;
}

.pause {
    width: 112px;
    display: none;
}

.game-board {
    margin: 0 auto;
    max-width: 420px;
    max-height: 420px;
    width: 100%;
    height: 100vh;
    position: relative;
    display: grid;
    grid-auto-rows: 1fr;
    grid-gap: 2px;
}

.chip {
    border: 1px solid #444;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    background: rgb(228, 228, 228);
    user-select: none;
    border-radius: 5px;
    &:hover {
        cursor: pointer;
        background-color: #7de85b;
    }
}

.image {
    background-size: 420px;
    &:hover {
        opacity: 0.5;
    }
}

.overlay {
    display: none;
    color: #87ff8e;
    position: absolute;
    z-index: 99;
    background: rgba(0, 0, 0, .8);
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    transition: all .1s ease-in;
    -webkit-transition: all .1s ease-in;
    &.visible {
        display: flex;
    }
}

.screen__container {
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: 8% auto 0px;
}

.hidden {
    display: none;
}

.active {
    display: flex;
}

.nav__btn {
    padding-bottom: 5px;
    width: 150px;
    margin: 10px;
    font-size: 20px;
    font-weight: bold;
    text-shadow: 2px 2px 5px #000;
    color: #ffffff;
    cursor: pointer;
}

.save-btn {
    height: 40px;
    width: 40px;
    position: absolute;
    top: -26px;
    left: -33px;
    background: url('../assets/icons/save_icon.svg');
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: center;
}

@keyframes clickOnChip {
    0% {
        transform: scale(1, 1);
    }
    25% {
        transform: scale(0.75, 0.75);
    }
    50% {
        transform: scale(0.5, 0.5);
    }
    75% {
        transform: scale(0.25, 0.25);
    }
    100% {
        transform: scale(0, 0);
    }
}